:root {
  --dark-brown: rgba(91, 36, 12, 1);
  --moss-green: rgba(105, 123, 108, 1);
  --off-white: rgba(232, 227, 207, 1);
  --red-brown: rgba(148, 59, 22, 1);
  --sky-blue: rgba(139, 170, 177, 1);
}
