.nav-bar-wrapper {
  display: flex;
  height: 30px;
  left: 880px;
  position: relative;
  top: 40px;
  width: 552px;
}

.nav-bar-wrapper .site-logo-2 {
  display: flex;
  gap: 20px;
  margin-left: -725px;
  width: 485px;
}

.nav-bar-wrapper .img {
  aspect-ratio: 1;
  height: 96px;
  margin-left: -116px;
  object-fit: cover;
  width: 96px;
}

.nav-bar-wrapper .text-wrapper-9 {
  color: var(--dark-brown);
  font-family: "quicksand", sans-serif;
  font-size: 30px;
  font-weight: 700;
  height: 96px;
  letter-spacing: 0;
  line-height: normal;
  width: 485px;
}

.nav-bar-wrapper .text-wrapper-10 {
  color: var(--dark-brown);
  font-family: "quicksand", sans-serif;
  font-size: 25px;
  font-weight: 400;
  height: 29px;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 240px;
  white-space: nowrap;
  width: 68px;
}

.nav-bar-wrapper .text-wrapper-11 {
  color: var(--dark-brown);
  font-family: "quicksand", sans-serif;
  font-size: 25px;
  font-weight: 400;
  height: 29px;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 68px;
  white-space: nowrap;
  width: 104px;
}

.nav-bar-wrapper .text-wrapper-12 {
  color: var(--dark-brown);
  display: block;
  font-family: "quicksand", sans-serif;
  font-size: 25px;
  font-weight: 400;
  height: 29px;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 68px;
  white-space: nowrap;
  width: 92px;
}

.nav-bar-wrapper .text-wrapper-13 {
  color: var(--dark-brown);
  font-family: "quicksand", sans-serif;
  font-size: 25px;
  font-weight: 400;
  height: 29px;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 68px;
  white-space: nowrap;
  width: 34px;
}
